ion-content {
    --padding-top:40px;
}
.section-header {
    color: #fff;
    font-family: 'spotify';
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: 30px;
}
ion-slides {
    margin-bottom: 20px;
}
ion-slide {
    width: 150px !important;
    margin-right: 25px;
    display: block;
    align-items: left;
}
.title {
    color: #fff;
    font-family: 'spotify';
    font-size: small;
}